doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    title Inventory
    // Bootstrap + CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
    link(href='../resources/css/my_style.css', rel='stylesheet')
  body

    nav.navbar.navbar-default.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/work_home')
          img.rounded-circle(src='https://www.amnh.org/var/ezflow_site/storage/images/media/amnh/shelf-life/shelf-life-logo-black-text_white-bg/1569498-3-eng-US/shelf-life-logo-black-text_white-bg.jpg' alt='hi' width='90' height='40')
      ul.inline.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/work_home') Home
      ul.inline.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/setting') Account
      ul.inline.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/sales1') Sales
      ul.inline.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/inventory') Inventory
      ul.inline.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/order_forms') Order Forms
      ul.inline.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/send_order') Send Order
      .form-inline.my-2.my-lg-0
        a(href='/login')
          button.btn.btn-outline-light.my-2.my-sm-0(type='submit') Logout

  div.container
    br
    br
    h2 Total Inventory

    style.
      #IngredientTable {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      }
      #IngredientTable td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
      }
      #IngredientTable tr:nth-child(even){background-color: #f2f2f2;}
      #IngredientTable tr:hover {background-color: #ddd;}
      #IngredientTable th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4d94ff;
      color: white;
      }
    br
    h3 Stocked Inventory
    table#IngredientTable
      tr
        th Ingredient ID
        th Ingredient Name
        th Ingredient Quantity
        th Ingredient Unit
      for item in inventory_item_Full
        tr
          td #{item.ingredient_id}
          td #{item.ingredient_name}
          td #{item.ingredient_quantity}
          td #{item.ingredient_unit}
    p
      </br>
      </br>
      </br>
    h3 Low Inventory Items
    table#IngredientTable
      tr
        th Ingredient ID
        th Ingredient Name
        th Ingredient Quantity
        th Ingredient Unit
      for item2 in inventory_item_AlmostEmpty
        tr
          td #{item2.ingredient_id}
          td #{item2.ingredient_name}
          td #{item2.ingredient_quantity}
          td #{item2.ingredient_unit}
    br
    br
